.PasswordBlock {
    margin: 20px;
}
.PasswordButtons {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.PasswordTextArea {
    height: 100px;
    width: 290px;
    resize: none;
    padding: 10px 0 10px 10px;
}
.Correct {
    border: 2px solid green;
}

.Wrong {
    border: 2px solid red;
}

.Btn {
    width: 30%;
    padding: 5px 0;
    margin: 5px;
    border: 1px solid black;
}